.rename-dialog-bar {
    width: 150%;
    margin-left: -20%;
    height: 3px;
    overflow: hidden;
}

.language__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.animate__animated.animate__fadeInLeft.ske-chat-1 {
    animation-name: fadeInLeft;
    animation-duration: 500ms;
    animation-delay: 0ms;
}

.animate__animated.animate__fadeInLeft.ske-chat-2 {
    animation-name: fadeInLeft;
    animation-duration: 500ms;
    animation-delay: 150ms;
}

.animate__animated.animate__fadeInLeft.ske-chat-3 {
    animation-name: fadeInLeft;
    animation-duration: 500ms;
    animation-delay: 300ms;
}

.animate__animated.animate__fadeInLeft.ske-chat-4 {
    animation-name: fadeInLeft;
    animation-duration: 500ms;
    animation-delay: 450ms;
}

.second-title {
    font-size: 1rem;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    color: #777777;
}

.title-input__container {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.new-title__btns-container {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: flex-end;
}

.firt-chat {
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 100%;


    .presets {
        width: 100%;
        height: calc(100% - 200px);
        display: flex;
        flex-direction: column;
        justify-content: center;

        .animate__animated .animate__fadeIn {
            animation-name: fadeIn;
            animation-duration: 500ms;
            animation-delay: 1500ms;
        }
    }

    .presets-label {
        margin-bottom: 40px;
        font-weight: 500;
        font-size: 1rem;
        color: #8f8f8f;
        padding-left: 40px;
    }

    .carrousel {
        width: 100%;

        .pre-prompt__container {
            width: calc(100% - 20px);
            height: 200px;
            display: grid;
            place-content: center;
            position: relative;

            &:hover {
                .prompt__container {
                    color: #e2e2e2;
                }
            }

            .level__container {
                position: absolute;
                top: 10px;
                left: 10px;
            }

            .prompt__container {
                color: #808080;
                transition: 0.1s ease-in-out color;

            }
        }
    }
}

.title_new-chat__container {
    overflow: hidden;
    width: 100%;
    padding-left: 50px;

    .new-chat-subtitle {
        margin: 0;
        padding: 0;
        font-size: 3.2rem;
        font-weight: 600;
        letter-spacing: -2px;
        word-spacing: -2px;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        display: inline-block;
        color: transparent;
        background: linear-gradient(74deg,
                #424242 0%,
                #424242 9%,
                #424242 20%,
                #424242 24%,
                #424242 35%,
                #424242 44%,
                #7e7e7e 60%,
                #121212 66%,
                #121212 75%,
                #121212 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400% 100%;
        /* Asegura que el degradado tenga suficiente espacio para moverse */
        animation: gradientSlide 1600ms ease-in-out forwards;
    }

    .new-chat-title {
        margin: 30px 0px 0px 0px;
        padding: 0;
        font-size: 3.2rem;
        font-weight: 600;
        letter-spacing: -2px;
        word-spacing: -2px;
        font-family: "Open Sans", sans-serif;
        font-style: normal;
        display: inline-block;
        color: transparent;
        background: linear-gradient(74deg,
                #E49011 0%,
                #E8980F 9%,
                #EBA00D 20%,
                #EFA80B 24%,
                #F2B009 35%,
                #F6B807 44%,
                #F9C005 50%,
                #FFD000 56%,
                #121212 75%,
                #121212 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400% 100%;
        /* Asegura que el degradado tenga suficiente espacio para moverse */
        animation: gradientSlide 1300ms ease-in-out forwards;
    }
}


@media (width < 670px) {

    .title_new-chat__container {
        text-align: center;
        padding: 2px;

        .new-chat-subtitle {
            font-size: 2.8rem;
        }

        .new-chat-title {
            font-size: 2.8rem;
        }
    }
}

@media (width < 540px) {

    .title_new-chat__container {

        .new-chat-subtitle {
            font-size: 2.2rem;
        }

        .new-chat-title {
            font-size: 2.2rem;
        }
    }
}

@keyframes gradientSlide {
    0% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.main-container {
    display: flex;
}

.mobile-navbar {
    .navbar__body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: calc(100dvh - 185px);
    }
}

.open-mobile-button {
    display: flex;
    align-items: center;
    justify-content: center;

    .menu-icon {
        color: white;
        margin-left: -10px;
    }
}

.chat__container {
    height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr auto;
    gap: 0px 0px;
    grid-template-areas:
        "chat__header"
        "chat__body"
        "chat__footer";

    .chat__header {
        grid-area: chat__header;
        margin: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;

        .user-image__container {
            display: flex;
            justify-content: center;
            align-items: center;

            #user-image {
                width: 40px;
                height: 40px;
                border-radius: 100px;
                object-fit: cover;
            }
        }
    }

    .chat__body {
        grid-area: chat__body;
        overflow-y: auto;
        display: flex;
        align-items: baseline;
        justify-content: center;

        .messages__container {
            max-width: 900px;
            width: 95%;
        }

        .user-message__container {
            width: 95%;
            padding-top: 20px;
            display: flex;
            justify-content: flex-end;

            .message-content {
                word-break: break-word;
                overflow-wrap: anywhere;
            }
        }

        .message__container {
            margin: 15px auto;
            max-width: 95%;
            min-width: 85%;

            .message {
                max-width: 95%;
            }

            .user-message {
                max-width: 75%;
                min-width: 75px;

                position: relative;

                p {
                    margin-top: 30px;
                    text-align: left;
                }
            }

            .top-fieldset {
                display: flex;
                align-items: center;
                padding: 0px 10px;
            }

            .top-fieldset-user {
                position: absolute;
                top: -20px;
                right: 10px;
                background-color: #18181b;
                display: flex;
                align-items: center;
                padding: 0px 10px;
                border-radius: 6px;
                height: 38px;
            }
        }
    }

    @media (min-width: 1800px) {
        .messages__container {
            width: 880px;
        }
    }

    @media (max-width: 1800px) {
        .messages__container {
            margin: 0px calc(18dvw);
        }
    }

    @media (max-width: 1200px) {
        .messages__container {
            margin: 0px calc(15dvw);
        }
    }

    @media (max-width: 1000px) {
        .messages__container {
            margin: 0px calc(10dvw);
        }
    }

    @media (max-width: 800px) {
        .messages__container {
            margin: 0px calc(5dvw);
        }
    }

    .chat__footer {
        position: relative;
        grid-area: chat__footer;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        padding: 40px 0px;

        .prompt-tools {
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: nowrap;
            gap: 10px;
            width: 90%;
            max-width: 830px;
            max-height: 236px;
            padding: 8px 10px;
            margin-top: -20px;
            border-radius: 3rem;

            .prompt-tool-btn {
                display: grid;
                place-items: center;
                width: 52px;
                height: 42px;
            }

            .p-toolbar-group-center {
                .p-inputtextarea.p-inputtext.p-component.p-variant-filled {
                    height: 25px;
                    margin-bottom: 10px;
                    border-radius: 0px;
                }
            }
        }

        // Text area del prompt

        .p-inputtextarea.p-inputtext.p-component.p-variant-filled {
            width: 100%;
            max-height: 200px;
            height: 40px;
            overflow-y: auto;
            resize: none;
            font-weight: 500;
            padding: 0;
            font-size: 1rem;
            color: rgba(255, 255, 255, 0.863);
            outline: none;
            background-color: transparent;
            border: none;
        }

        .char-counter {
            position: absolute;
            bottom: 0px;
            right: 80px;
            font-size: 0.8rem;
            color: rgba(255, 255, 255, 0.5);
            font-weight: 600;
        }
    }
}

.navbar__container {
    padding: 10px;
    height: 100dvh;
    width: 300px;
    background-color: rgba(73, 73, 73, 0.171);
    transition: width 0.4s ease, opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.not-extended {
    width: 80px;
}

.mobile-navbar__header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 15px;

    .menu-btn__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .menu-icon {
            color: white;
        }
    }

    .new-btn__container {
        width: 100%;
        display: flex;
        align-items: center;

        .new-btn {
            display: flex;
            align-items: center;
            gap: 10px;
            height: 39.14px;

            .animate__animated.animate__fadeIn.text {
                animation-name: fadeIn;
                animation-duration: 500ms;
                animation-delay: 70ms;
            }

            .text {
                font-weight: 500;
                font-size: 1rem;
            }
        }
    }
}

.animate__animated.animate_fadeIn.navbar__body {
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-delay: 300ms;
}

.navbar__body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    .chats__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        gap: 10px;

        .chat-icon {
            font-size: 0.9rem;
        }

        .chat-btn {
            max-width: 230px;
            height: 40px;

            .chat-name {
                max-width: 132px;
                text-align: left;
                display: inline-block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
                cursor: pointer;
                font-size: 0.9rem;
            }
        }

        @media (width < 800px) {
            .chat-btn {
                max-width: 282px;
            }
        }
    }

    .reciente-txt {
        font-weight: 600;
        font-size: 0.85rem;
        margin-bottom: 4px;
        margin-left: 10px;
    }
}

.navbar__footer {
    .settings-btn {
        display: flex;
        width: 100%;
        gap: 5px;
    }

    .p-menu .p-menuitem>.p-menuitem-content .p-menuitem-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }
}